.productList {
  flex: 4;
}

.productListHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.productListTable {
  display: flex;
  padding: 50px;
  width: 80vw;
  height: 90vh;
}

.productListImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}

.productListContainerSortButtons {
  margin-left: 50px;
}

.productListContainerSortButtons button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productListSortButton {
  background-color: #d3f3c6;
}

.productListContainerSortButtons button:hover {
  background-color: #d3f3c6;
  color: #555;
}
